<h1>Sign In</h1>

<form class="" action=<%= session_url %> method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username</label>
  <input type="text" name=user[username] value="" id="username">
  <br>
  <label for="password">Password</label>
  <input type="password" name=user[password] value="" id="password">
  <br>
  <input type="submit" name="name" value="Sign In">
  <br>
  <p>
    <%= link_to "Need to make an account? Sign up", new_user_url %>
  </p>

</form>
