// Place all the styles related to the api/businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.business-index-item{
  height: 90px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 0px;
  // width: 350px;
}

.business-index-item:hover{
  // background-color: rgba(136, 86, 161, 0.2);
  background-color: rgba(217, 217, 217, 0.4);
}

.business-index{
  width: 35%;
}

#business-next {
  float: right;
  width: 80px;
  border-radius: 0;
  margin-top: 5px;
}

#business-prev {
  float: left;
  width: 80px;
  position: relative;
  right: 30px;
  border-radius: 0;
  margin-top: 5px;
}

.no-reviews{
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 12px;
}

.main-rating-beside{
  font-size: 18px;
  position: relative;
  bottom: 10px;
  left: 5px;
}

.businessMap{
  height: 200px;
  width: 400px;
  float: right;
}

.index-rating{
  cursor: pointer;
}

.hours-information{
  float: right;
  width: 21%;
  position: relative;
  padding-left: 20px;
  border-left: 1px solid #d9d9d9;
}

.filters label {
  margin: 5px;
  padding: 7px 15px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

#filter {
  margin-left: 5px;
}

#business-sort {
  position: relative;
  top: 5px;
  left: 5px;
  width: 305px;
  height: 36px;
  margin-bottom: 5px;
}

.business-form{
  // width: 230px;
  margin: auto;
}

.business-form input{
  border-radius: 0px;
}

#name-input, #address-input, #delivery-input, #cc-input{
  width: 300px;
}

.business-form-right textarea {
  border-radius: 0px;
}

.other-info {
  float: right;

}
.business-form-left {
  float: left;
}

.business-form-right{
  float: right;
  margin-left: 20px;
}

#info-input{
  width: 450px;
  max-width: 450px;
  min-height: 212px;
}

#business-submit{
  width: 150px;
  float: right;
  clear: right;
}

.business-image{
  float: left;
  height: 200px;
  width: 200px;
}
