// Place all the styles related to the api/Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.images {
  float: right;
  width: 50%;
}

#add-photo {
  border-radius: 0px;
  width: 100px;
  float: right;
}

.carousel {
  position: relative;
  bottom: 20px;
  left: 10px;
}

.image {
  clear: right;
  float: left;
  margin-left: 5px;
  margin-top: 10px;
}

.images ul{
  height: 165px;
  margin-top: 30px;
}

#image-next {
  float: right;
  width: 50px;
  position: relative;
  bottom: 32px;
  display: inline;
  border-radius: 0;
  font-size: 12px;
  height: 30px;
}

#image-prev {
  margin-left: 54px;
  width: 70px;
  position: relative;
  bottom: 32px;
  display: inline;
  border-radius: 0;
  font-size: 12px;
  height: 30px;
}
