// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


li {
  margin-left: -30px;
  list-style: none;
  margin-bottom: 10px;
}

.review {
  width: 400px;
}

.review-area{
  display: inline-block;
  width: 720px;
}

#review-button {
  margin-top: 5px;
  width: 120px;
  border-radius: 0px;
}

.cancel {
  margin: 5px;
  position: relative;
  top: 12px;
}

.review-beside {
  position: relative;
  bottom: 8px;
  left: 20px;
}

.user-info {
  position: relative;
  top: 5px;
  font-weight: bold;
}

.review-content {
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  margin: auto;
}

.reviews-header {
  display: inline-block;
}

#review-sort{
  width: 185px;
  display: inline;
  position: relative;
  bottom: 5px;
  left: 20px;
}
