/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "bootstrap-sprockets";

body{
  background-color: #d9d9d9;
}

.body {
  width: 1000px;
  margin: auto;
  background-color: #ffffff;
  clear: both;
  padding: 10px 50px;
  overflow: auto;
}

a{
  cursor: pointer;
}

.user-auth-logo{
  display: block;
  width: 400px;
  margin: auto;
}

.user-auth{
  width: 350px;
  margin: auto;
  padding: 20px 40px;
  color: #8856a1;

  p {
    text-align: center;
  }
}

.auth-submit{
  background-color: #8856a1;
  color: #ffffff;
}

.navbar-default{
  height: 60px;
  width: 100%;
}

.nav{
  margin-bottom: 0px;
  border-radius: 0;
}

nav {
  background-color: #8856a1;
  color: #ffffff;


  .nav-container {
    width: 900px;
    margin: auto;
  }

  .logo {
    height: 60px;
  }

  img, h4, #searchbar{
    float: left;
    margin-right: 10px;
    cursor: pointer;
  }

  h4 {
    margin-top: 20px;
  }

  #searchbar {
    margin-top: 12px;
    height: 30px;
  }

  .searchbar-list{
    z-index: 1;
  }

  .sign-out {
    float: right;
  }
}

.indexMap{
  height: 500px;
  width: 500px;
  float: right;
}

.businessMap{
  height: 200px;
  width: 400px;
}

.watermark {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
