nav {
  background-color: #8856a1;
  color: #ffffff;
  margin-bottom: 0px;
  border-radius: 0;

  .nav-container {
    width: 900px;
    margin: auto;
  }

  .logo {
    height: 60px;
  }

  img, h4, #searchbar{
    float: left;
    margin-right: 24px;
    cursor: pointer;
  }

  h4 {
    margin-top: 20px;
  }

  #searchbar {
    margin-top: 12px;
    height: 30px;
  }

  .searchbar-list{
    z-index: 1;
  }

  .no-matches{
    color: #555;
    margin-left: 0px;
    cursor: default;
  }

  .sign-out {
    float: right;
    position: relative;
    top: 12px;
    cursor: pointer;
  }

  #searchbox{
    width: 240px;
  }
}
